body {
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  
    background: linear-gradient(to right, #1CB5E0, #000046);
    font-size: 14px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    margin: 10px;
}

.login {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18%;
}
